.home {
  width: 100%;
  height: 100%;
}

.home-content {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .home-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1200px;
    margin-bottom: 20px;
  }
}

.home-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
